select { 
	&.eof-small-select {
		min-width: 130px;
	}
	&.eof-regular-select {
		min-width: 210px;
	}
	&.eof-large-select {
		min-width: 350px;
	}
}
.wp-picker-container {
	vertical-align: middle;
}
.eof-image-preview {
	img {
		max-width: 480px;
		height: auto;
	}
}
.radio-img-item {
	padding: 2px;
	&.item-selected {
		//border-color: #0088cc;
	}
}
.eof-form-table {
	> tbody > tr > th {
		width: 150px;
	}
}
.eof-repeat-table {
	thead th {
		width: auto;
		padding: 15px 10px;
	}
	.item-action {
		text-align: center;
		width: 100px;
	}
}